In [1]:
import pytube
import pandas as pd

In [2]:
df = pd.read_csv("data/youtube.csv")
df.head()

,link,title,description,category
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nT...,travel
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,Priscilla Lee\n45.6K subscribers\nSUBSCRIBE\n*...,travel
2,r284c-q8oY,My Solo Trip to ALASKA | Cruising From Vancouv...,Allison Anderson\n588K subscribers\nSUBSCRIBE\...,travel
3,Qmi-Xwq-ME,Traveling to the Happiest Country in the World!!,Yes Theory\n6.65M subscribers\nSUBSCRIBE\n*BLA...,travel
4,_lcOX55Ef70,Solo in Paro Bhutan | Tiger's Nest visit | Bhu...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nH...,travel

In [3]:
def build_url(video_id: str) -> str:
    return f"https://www.youtube.com/watch?v={video_id}"

def download(video_id: str):
    try:
        url = build_url(video_id=video_id)
        pytube.YouTube(url).streams.filter(only_audio=True).first().download(f"data/audio/{video_id}")
    except Exception as _:
        pass

In [5]:
import multiprocessing as mp

with mp.Pool(processes=128) as pool:
    pool.map(download, df.link)